.charity-details-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #f97704;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 80vh; /* Ensure the container doesn't exceed the viewport height */
    position: relative;
    z-index: 1;
    background-image: url('/assets/images/g.jfif');
    background-size: cover;
    background-position: center;
}

.donation-form-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}

.donation-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.form-input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f97704;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    width: 100%; /* Ensure inputs take full width */
}

.form-input::placeholder {
    color: #888;
}

.donate-button {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 25px;
    border: 2px solid #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    text-transform: uppercase;
}

.donate-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border-color: #f97704;
    color: #f97704;
    transform: scale(1.05);
}

h3 {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.charity-details-container::-webkit-scrollbar {
    width: 8px;
}

.charity-details-container::-webkit-scrollbar-thumb {
    background-color: #f97704;
    border-radius: 4px;
}

.charity-details-container::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.charity-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.charity-text {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    line-height: 1.8;
    margin-bottom: 15px;
    word-wrap: break-word; /* Allow text to wrap to the next line */
    white-space: normal; /* Ensure long text wraps into multiple lines */
}

.charity-details-container p {
    margin: 0; /* Remove any default margin that might cause overflow */
}
@media print {
    body {
      background-image: none !important;
    }
  }
  