<app-navbar></app-navbar>

<div class="charity-details-container" *ngIf="charityDetails">
    <h2>{{ charityDetails.charityname }}</h2>
    <p><strong>Description:</strong> {{ charityDetails.charitydescription }}</p>
    <p><strong>Location:</strong> {{ charityDetails.location }}</p>
    <p><strong>Goals:</strong> {{ charityDetails.goals }}</p>
    <p><strong>Mission:</strong> {{ charityDetails.mission }}</p>
 
      <!-- Donation Button -->
    <!-- Donation button, only visible if the user is logged in -->
  <button *ngIf="isLoggedIn" (click)="donate()">Donate</button>
  <p *ngIf="!isLoggedIn">You must be logged in to donate.</p>
  
 
</div>

<app-footer></app-footer>
