<nav class="navbar">
    <div class="logo">Charity Donation</div>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/contact">Contact Us</a></li>
    
      <li><a routerLink="/getcharity">Charities</a></li>
      <li><a routerLink="/charitycategory">Donation</a></li>
     
 
      <li *ngIf="!isLoggedIn"><a routerLink="/security/login">Login</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/profile">Profile</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/user-charities">my charities</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/testimonial">Add testimonial</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/addcharity">Add Charity</a></li>
      <li *ngIf="isLoggedIn"><button (click)="logout()">Logout</button></li>
    </ul>
  </nav>
 